<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create" method="post">
    <form action="/create" method="post">
        <label for="brand">Enter Brand</label>
        <input type="text" id="brand" name="brand">

        <label for="model">Enter Model</label>
        <input type="text" id="model" name="model">

        <label for="price">Enter Price</label>
        <input type="text" id="price" name="price">

        <input type="submit" value="create">
    </form>
</body>
</html>