<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Watches</title>
</head>
<body>
<h1>Список часов</h1>
<form action="/save" method="post">
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="watch : ${watches}">
        <td th:text="${watch.getId()}"></td>
        <td>
            <input type="text" th:value="${watch.getBrand()}" field="*{brand}" />
        </td>
        <td>
            <input type="text" th:value="${watch.getModel()}" field="*{model}" />
        </td>
        <td>
            <input type="text" th:value="${watch.getPrice()}" field="*{price}" />
        </td>
        <td>
            <button type="submit">Сохранить</button>
        </td>
    </tr>
    </tbody>
</table>
</form>
</body>
</html>