<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Watches</title>
</head>
<body>
    <h1>Список часов</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="watch : ${watches}">
                <td th:text="${watch.getId()}"></td>
                <td th:text="${watch.getBrand()}"></td>
                <td th:text="${watch.getModel()}"></td>
                <td th:text="${watch.getPrice()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>